* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.top-container a {
    color: white;
    font-size: 25px;
}
.top-container p {
    display: flex;
    gap: 10px;
    align-items: center;
}
.flag {
    width: 25px;
    height: 25px;
}
.social-container {
    display: flex;
    gap: 20px;
}
.top-container {
    background-color: black;
    padding: 6px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.website-logo {
    width: 100px;
    border-radius: 10px;
}
.middle-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.middle-header a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
header {
    min-height: 90px;
}
main {
    background: url("../Imágenes/Cover.png") center;
    background-size: cover;
    min-height: calc(100vh - 124px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
main::before {
    content: "";
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.50) 80%, rgba(0, 0, 0, 0.8));
    z-index: 1;
    height: 100%;
    width: 100%;
}
main h2 {
    font-size: 2.4rem;
    text-align: center;
    max-width: 50ch;
    color: white;
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}
main button {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
}